<hr>
        <p class="text-center" id="informationSource">
            <a href="https://en.wikipedia.org/wiki/Linux">Information source: https://en.wikipedia.org/wiki/Linux</a>
        </p>
        <hr>

    </div> 
    
    

</main>

<footer class="container">
    <div class="container">
        <p class="text-center">
            <img src="images/csumb_logo.png" alt="Csumb logo" width="100" height="100">
            CSUMB CST336 Internet Programming. 2020© Adrien BARENS
        </p>
    </div>
</footer>
</body>
</html>