<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Adrien BARENS">
    <title>Linux</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
</head>
<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/index">
        <img src="images/Tux.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Linux
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/history">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/development">Development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/uses">Uses</a>
            </li>
        </ul>
    </div>
</nav>
</header>

<main class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <br>

            <div class="blog-post">
                <h2 class="blog-post-title">History of Linux</h2>
                <p>Linux is, in a narrow sense, the kernel of the Linux operating system, and in a broad sense, any operating system based on the Linux kernel.</p>
                <hr>
                <p>The term GNU/Linux was coined by the Debian project founded by Ian Murdock and is championed by Richard Stallman, founder of the GNU project. According to its defenders, it is necessary to give credit to both GNU and Linux developers, in order to avoid confusion with other systems like Android based on Linux but not on GNU.</p>
                <p>The use of the name Linux alone, the most widespread among the general public, is defended in particular by Linus Torvalds, creator of the Linux kernel. The main argument of the promoters of this name is the argument of simplicity: "Linux" is shorter to write and pronounce than "GNU/Linux".</p>

                <h2>1984-1991: Launch of the GNU Project</h2>
                <p>On 27 September 1983, Richard Stallman announced on Usenet his project to develop a UNIX-compatible operating system called GNU2, inviting the hacker community to join him and participate in its development.</p>
                <p>As early as 1985, some key components were already operational: the GCC compiler finalized in June 19843, a UNIX-compatible emacs version, etc. At the beginning of the 1990s, the GNU Project has or has access to a usable version of all the elements needed to build an operating system except the most central one: the kernel.</p>
                <p>In 1990, the GNU Project started the project to produce a kernel called the Hurd. However, the Hurd will never really get beyond the curiosity stage of a research laboratory, and in 1991 GNU is still not fully operational because of this lack.</p>

                <h2>1991: Birth of the Linux kernel</h2>
                <p>In 1991, the Finnish student Linus Torvalds, indisposed by the low availability of the UNIX computer server at the University of Helsinki, began the development of an operating system kernel, which would be called the "Linux kernel".</p>
                <p>On August 25, 1991, he announced on the Usenet forum the development of the Linux kernel4.</p>
                <p>Linus Torvalds quickly chose to release his kernel under the GNU GPL license. This decision made the GNU and Linux systems legally compatible. Therefore, to fill the gap caused by the unfinished development of the Hurd, GNU and the Linux kernel are combined to form a new operating system (sometimes considered as a variant of GNU): GNU/Linux or Linux.</p>

                <h2>Since 1991: evolution and dissemination of the system</h2>
                <p>Originally, the installation of a GNU/Linux operating system required solid computer knowledge and required finding and installing the software one by one.</p>
                <p>Soon, packages of software that formed a complete system ready for use were available: these were the first GNU/Linux distributions. They are listed in chronological order :</p>
                <ul>
                    <li>two 5.25 inch boot and root floppies created by HJ Lu, and containing a minimum of software;</li>
                    <li>MCC Interim Linux, a collection of floppy disks released in February 1992;</li>
                    <li>TAMU 1.0A made by Texas A&M University for its internal needs, but distributed, and first distribution including X Window ;</li>
                    <li>Softlanding Linux System released in May 1992, to be taken over to make Slackware;</li>
                    <li>Yggdrasil Linux/GNU/X released in December 1992, first distribution with live CD capability;</li>
                    <li>Slackware, released in July 1993, is the oldest distribution still maintained;/li>
                    <li>Debian, released in August 1993, is one of today's major distributions.</li>
                </ul>
                <p>In the progressive consideration of the commercial interest of GNU/Linux, we can mention some manifestations :</p>
                <ul>
                    <li>the launch in February 1998 of the Open Source Initiative</li>
                    <li>the announcement in July 1998 of the support of Oracle Corporation, which carries and supports its famous database under GNU/Linux</li>
                    <li>Red Hat's IPO on November 11, 1999; Geeknet's - then called "VA Linux" - IPO the following month, which marked the peak of a speculative bubble.</li>
                    <li>the massive support provided by the giant IBM, which spent its first billion dollars on it in 20016, employed nearly three hundred developers of the Linux kernel in 2005, and organised from 2003 onwards the legal response to the attack by the SCO Group, which claimed to own copyright on the Linux kernel (see the article SCO against Linux);/li>
                    <li>the acquisition in October and November 2003 of Ximian and then SUSE by the American company Novell7.</li>
                </ul>
                <p>It is in the world of computer servers that GNU/Linux has had the most impact, especially with the very popular LAMP. On servers, GNU/Linux has often been used to replace other Unix-type systems or to avoid the purchase of Windows NT licences and is now one of the major players. As early as 2003, Microsoft itself seems to be partly using GNU/Linux8.</p>
            </div>

        </div>

        <aside class="col-md-4 blog-sidebar">
            <br>
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">Philosophy of the project</h4>
                <p>In his book <em>The Daemon</em>, the Gnu, and the Penguin, Peter Salus explains that this system was born out of the meeting of the "hacker" modus operandi with the principles of the free software movement, in which the hacker and free software philosophies are described as two facets of the same object.</p>
            </div>

            <div class="p-4">
                <h4 class="font-italic">Main Actors</h4>
                <ol class="list-unstyled mb-0">
                    <li><img alt="richard stallman" src="images/Richard_Stallman.jpg" width="234" height="303"><br>Richard Stallman</li>
                    <li> </li>
                    <li><img alt="linus torvald" src="images/Linus_Torvalds.jpeg" width="210" height="287"><br>Linus Torvald</li>
                </ol>
            </div>
        </aside>

    </div>

<%-include('partials/footer.ejs') -%>